html, body{
    margin: 0;
    padding: 0;
    font-family: "roboto";
}

header{
    background-color: #00AAC8;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 10px gray;
    border-bottom: 1px solid gray;
}

.logo{
    display: inline-block;
    height: 80px;
    line-height: 0px;
    margin: 20px 0px 0px 100px;
    color: black;
    font-family: 'Oswald';
}

.brac{
    font-weight: 100;
}

.logo h3 span{
    border-top: 1px solid #742B15;
}

.logo small{
    letter-spacing: 0.4rem;
    border-bottom: 1px solid #742B15;
    font-weight: 100;
}

.logo:hover{
    text-decoration: none;
}

main{
    width: 90%;
    margin: 140px auto 0px auto;
    padding: 16px 16px;
    text-align: center;
    background-color: rgb(219, 229, 230);
    box-shadow: 0px 0px 10px gray;
}

main h4{
    padding: 8px 8px;
    border-bottom: 1px solid grey;
    font-family: 'Oswald';
}

section{
    margin-top: 16px;
}

section div p{
    text-align: left;
}

.links-wrap{
    width: 80%;
    padding: 1rem;
    margin: auto;
    background-color: #F5DED0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    box-shadow: 0px 0px 10px gray;    
}

.links a{
    display: block;
    padding: 1rem;
    margin: 1rem 0rem;
    color: #742B15;
}

@media (max-width:576px) {
    h4, h5{ font-size:80%; 
       }

    div, section{
        font-size:90%;        
    }

    .links-wrap{
        grid-template-columns: 1fr;
    }
}
